body {
    background-image: url('./images/concrete-texture.png');
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 190%;
}

@media screen and (max-width: 767.98px) {
    body{
        background-image: url('./images/concrete-texture.png');
        font-size: 14px;    
    }
}


header {
    height: 10%;
    background: #ffffff;
    border-bottom-style: solid;
    border-color: #cccccc;
}

@media screen and (max-width: 767.98px) {
    header {
        width: 100%;
        height: 6%;
    }
}

#ah1 {
    margin: 0px;
    padding-top: 29px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    color:  #ffffff; 
    text-align: left;
    margin-left: 470px;
    float: left;
    background-color: #4aaaa5;
    height: 70%;
}

@media screen and (max-width: 767.98px) {
    #ah1 {
        width:100%;
        font-size: 24px;
        padding: 5px;
        margin: auto;
        text-align: center;
    }

}

#ch1 {
    margin: 0px;
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 32px;
    color:  #ffffff; 
    text-align: left;
    margin-left: 441px;
    float: left;
    background-color: #4aaaa5;
    height: 66%;   
}

@media screen and (max-width: 767.98px) {
    #ch1 {
        width: 100%;
        height: 70%;
        font-size: 24px;
        padding: 5px;
        margin: auto;
        text-align: center;
    }
}

#ph1 {
    margin: 0px;
    padding-top: 29px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    color:  #ffffff; 
    text-align: left;
    margin-left: 470px;
    float: left;
    background-color: #4aaaa5;
    height: 70%;
}

@media screen and (max-width: 767.98px) {
    #ph1 {
        width: 100%;
        height: 70%;
        font-size: 24px;
        padding: 5px;
        margin: auto;
        text-align: center;
    }

}
  
#anav {
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
    float: right;
    margin-top: 30px;
    padding-right: 470px;
}

@media screen and (max-width: 767.98px) {
    #anav {
        margin: 14px;
        padding: 6px;
        text-align: center;
        float: right;
    }

}

#cnav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:#777777;
    float: right;
    margin-top: 33px;
    padding-right: 462px; 
}

@media screen and (max-width: 767.98px) {
    #cnav {
        margin: 14px;
        padding: 6px;
        text-align: center;
        float: right;
    }

}

#pnav {
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    color:#777777;
    float: right;
    margin-top: 30px;
    padding-right: 470px;
}  

@media screen and (max-width: 767.98px) {
    #pnav {
        margin: 14px;
        padding: 6px;
        text-align: center;
        float: right;
    }

}

a {
    color:  #777777;
}

h2 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #4aaaa5;
    border-bottom: solid;
    border-bottom-color:#cccccc;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-bottom: 24px;
}

@media screen and (max-width: 767.98px) {
    h2 {
        font-size: 24px;
        padding: 20px;
        margin: 6px;
        text-align: left;
    }

}

#bio-image {
    content: url('../Bio_Web_Pages/images/lorem-ipsum-means-the-pain-good.jpg');
    width: 200px;
    height: 200px;
    margin-left:10px;
    margin-right: 10px;
    float: left;
}

@media screen and (max-width: 767.98px) {
    #bio-image {
        width: 100%;
        height: auto;
        margin: auto;
    }

}

.main-bio {
    width: 960px;
    margin: auto;
    margin-top: 40px;
    padding-left:10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    border: #cccccc thin;
    border-style: solid; 
}

@media screen and (max-width: 767.98px) {
    .main-bio {
        width: 100%;
        padding: auto;
        margin: auto;
    }

}
.contact-info {
    width: 960px;
    margin: auto;
    margin-top: 40px;
    padding-left: 24px;
    padding-right:0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    border: #cccccc thin;
    border-style: solid;
}

@media screen and (max-width: 767.98px) {
    .contact-info {
        width: 100%;
        padding: auto;
        margin: auto;
    }
}


#nameInput {
    width: 940px;
    height: 4%;
    margin-top: -20px;
    padding-left: 0px;
}

@media screen and (max-width: 767.98px) {
    #nameInput {
        width: 100%;
        margin: auto;
    }
}

#emailInput {
    width: 940px;
    height: 4%; 
    margin-top: -20px;
    padding-left: 0px;
}

@media screen and (max-width: 767.98px) {
    #emailInput {
        width: 100%;
        margin: auto;
    }
}

#messageInput {
    width: 940px;
    height: 20%;
    margin-top: -20px;
    padding-left: 0px;
}

@media screen and (max-width: 767.98px) {
    #messageInput {
        width: 100%;
        margin: auto;   
     }
}


#submitButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 11%;
    height: 5%;
    color: #ffffff;
    background-color: #4aaaa5;
    border-radius: 6px;
    margin-top: 20px;
}

@media screen  and (max-width: 767.98px) {
    #submitButton {
        width: 100%;
    }
}

.portfolio {
    width: 960px;
    height: 700px;
    margin: auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right:10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    border: #cccccc thin;
    border-style: solid;
}

@media screen and (max-width: 767.98px) {
    .portfolio {
        width: 100%;
    }
}

#p-left {
    content: url('../Bio_Web_Pages/images/hangman9.jpg');
    width: 250px;
    height: 250px;
    border:#cccccc thin;
    border-style: solid;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 30px;
    float: left;  
}

@media screen and (max-width: 767.98px) {
    #p-left {
        width: 100%;
    }

}


#Hm-text {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    width: 250px;
    background-color: #4aaaa5;
    margin-left: 11px;
    margin-top: 217px;
}

@media screen and (max-width: 767.98px) {
    #Hm-text {
        width: 100%;
    }

}

#p-right {
    content: url('../Bio_Web_Pages/images/Khajit_RPG.jpg');
    width: 250px;
    height: 250px;
    border:#cccccc thin;
    border-style: solid;
    margin-left:10px;
    margin-right: 10px;
    float: left;   
}

@media screen and (max-width: 767.98px) {
    #p-right {
        width: 100%;
    }

}

#Rpg-text {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5;
    margin-top: 182px; 
}

@media screen and (max-width: 767.98px) {
    #Rpg-text {
        width: 100%;
        margin: auto;
    }

}

#p-midleft {
    clear: both;
    content: url('../Bio_Web_Pages/images/Trivia_Game3.jpg');
    width: 250px;
    height: 250px;
    border:#cccccc thin;
    border-style: solid;
    margin-left:10px;
    margin-right: 10px;
    float: left;   
}

@media screen and (max-width: 767.98px) {
    #p-midleft {
        width: 100%;
    }

}

#Trivia-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5;
    margin-top: 182px;   
}

@media screen and (max-width: 767.98px) {
    #Trivia-text {
        width: 100%;
    }

}


#p-midright {
    content: url('../Bio_Web_Pages/images/RI_widget.png');
    width: 250px;
    height: 250px;
    border:#cccccc thin;
    border-style: solid;
    margin-left:10px;
    margin-right: 10px;
    float: left;    
}

@media screen and (max-width: 767.98px) {
    #p-midright {
        width: 100%;
        height: auto;
    }

}


#Widget-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5;
    margin-top: 182px;     
}

@media screen and (max-width: 767.98px) {
    #Widget-text {
        width: 100%;
        margin: auto;
    }

}

#p-lower {
    content: url('../Bio_Web_Pages/images/R_P_S.png');
    width: 250px;
    height: 250px;
    border:#cccccc thin;
    border-style: solid;
    margin-left:10px;
    margin-right: 10px;
    float: left;    
}

@media screen and (max-width: 767.98px) {
    #p-lower {
        width: 100%;
        height: auto;
        margin: auto;
    }

}


#RPS-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5;
    margin-top: 182px;      
}

@media screen and (max-width: 767.98px) {
    #RPS-text {
        width: 100%;
        margin: auto;
    }

}

#afooter {
    margin-top: 134px;
    padding-top:18px;
    text-align: center;
    font-size: 8px;
    color:#ffffff;
    background-color: #666666;
    border-top:solid #4aaaa5;
    border-top-width: 8px;
    height: 5%;
}

@media screen and (max-width: 767.98px) {
    #a-footer {
        width: 100%;
        
    }

}

#cfooter {
    margin-top: 143px;
    padding-top:20px;
    text-align: center;
    font-size: 9px;
    color:#ffffff;
    background-color: #666666;
    border-top:solid #4aaaa5;
    border-top-width: 10px;
    height: 5%; 
}

@media screen and (max-width: 767.98px) {
    #c-footer {
        width: 100%;
    }

}

#pfooter {
    margin-top: 56px;
    padding-top:18px;
    text-align: center;
    font-size: 8px;
    color:#ffffff;
    background-color: #666666;
    border-top:solid #4aaaa5;
    border-top-width: 8px;
    height: 5%;  
}

@media screen and (max-width: 767.98px) {
    #p-footer {
        width: 100%;
    }

}